<div class="container p-5 mt-5" style="border: 1px solid #E0E3DA; border-radius: 10px; background-color: #f4f4f4;">
  <h2 class="text-center mb-5">請將資料填入欄位來建立餐廳!</h2>

  <form action="/restaurants" method="POST">
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">店家名稱 (中文)</label>
      <input type="text" class="form-control col-8" id="list-name" name="name" placeholder="Sababa 沙巴巴中東美食">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">店家名稱 (英文)</label>
      <input type="text" class="form-control col-8" id="list-name_en" name="name_en" placeholder="Sababa Pita Bar">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">類別</label>
      <input type="text" class="form-control col-8" id="list-category" name="category" placeholder="中東料理">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">圖片連結</label>
      <input type="text" class="form-control col-8" id="list-image" name="image" placeholder="https://123.jpg">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">店家地址</label>
      <input type="text" class="form-control col-8" id="list-location" name="location" placeholder="台北市OO路O段 OO 巷 OO 號">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">店家電話</label>
      <input type="text" class="form-control col-8" id="list-phone" name="phone" placeholder="02-XXXXXXX">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">Google 地圖連結</label>
      <input type="text" class="form-control col-8" id="list-google_map" name="google_map"
        placeholder="https://goo.gl/maps/BJdmLuVdDbw">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">評分</label>
      <input type="text" class="form-control col-8" id="list-rating" name="rating" placeholder="4.1">
    </div>
    <div class="form-group row">
      <label for="formGroupExampleInput" class="col-3">店家簡介</label>
      <input type="text" class="form-control col-8" id="list-description" name="description"
        placeholder="沙巴巴批塔是台灣第一家純手工批塔專賣店...">
    </div>
    <div class="form-group row justify-content-center mt-5">
      <button class="btn btn-success" type="submit">新增餐廳</button>
    </div>
  </form>

</div>